expose:
  ingress:
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
      core: harbor.{{ .LagoonBaseUrl }}
  {{/* tls:
    enabled: true
    certSource: secret
    secret:
      secretName: harbor-harbor-ingress */}}
externalURL: http://harbor.{{ .LagoonBaseUrl }}
harborAdminPassword: {{ .HarborPass }}
chartmuseum:
  enabled: false
clair:
  enabled: false
notary:
  enabled: false
trivy:
  enabled: false
jobservice:
  jobLogger: stdout
registry:
  replicas: 1
