expose:
  ingress:
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
      core: harbor.{{ .LagoonBaseUrl }}
  tls:
    enabled: false
  {{/*   certSource: secret
    secret:
      secretName: harbor-harbor-ingress */}}
externalURL: http://harbor.{{ .LagoonBaseUrl }}
harborAdminPassword: {{ .HarborPass }}
chartmuseum:
  enabled: false
clair:
  enabled: false
notary:
  enabled: false
trivy:
  enabled: false
jobservice:
  jobLogger: stdout
registry:
  replicas: 1
{{- if eq .Arch "arm64" }}
core:
  image:
    repository: 'harbortest/harbor-core'
    tag: 'dev'
database:
  internal:
    image:
      repository: 'harbortest/harbor-db'
      tag: 'dev'
{{- end }}
