imageTag: v2.5.0

{{- if eq .Arch "arm64" }}
dockerHost:
  image:
    repository: ghcr.io/yusufhm/rockpool/lagoon-docker-host
  registry: harbor.{{ .LagoonBaseUrl }}
{{- end }}

lagoon-build-deploy:
  enabled: true
  extraArgs:
    - "--enable-harbor=true"
    - "--harbor-url=https://harbor.{{ .LagoonBaseUrl }}"
    - "--harbor-api=https://harbor.{{ .LagoonBaseUrl }}/api/"
    - "--harbor-username=admin"
    - "--harbor-password={{ .HarborPass }}"
  rabbitMQUsername: lagoon
  rabbitMQPassword: {{ .RabbitMQPassword }}
  rabbitMQHostname: broker.{{ .LagoonBaseUrl }}
  lagoonTargetName: {{ .ClusterName }}1
  taskSSHHost: ssh.{{ .LagoonBaseUrl }}
  taskSSHPort: "22"
  taskAPIHost: "api.{{ .LagoonBaseUrl }}"

dbaas-operator:
  enabled: false

  mariadbProviders:
    production:
      environment: production
      hostname: 172.17.0.1.nip.io
      readReplicaHostnames:
      - 172.17.0.1.nip.io
      password: password
      port: '3306'
      user: root

    development:
      environment: development
      hostname: 172.17.0.1.nip.io
      readReplicaHostnames:
      - 172.17.0.1.nip.io
      password: password
      port: '3306'
      user: root
