elasticsearchURL: https://none.com
harborURL: "https://harbor.{{ .LagoonBaseUrl }}"
harborAdminPassword: "{{ .HarborPass }}"
kibanaURL: https://none.com
logsDBAdminPassword: none
s3FilesAccessKeyID: none
s3FilesBucket: none
s3FilesHost: none
s3FilesSecretAccessKey: none
s3FilesRegion: none
s3BAASAccessKeyID: none
s3BAASSecretAccessKey: none
imageTag: v2.5.0
registry: "harbor.{{ .LagoonBaseUrl }}"

keycloakAPIURL: http://keycloak.{{ .LagoonBaseUrl }}/auth
lagoonAPIURL: http://api.{{ .LagoonBaseUrl }}/graphql
lagoonUIURL: http://ui.{{ .LagoonBaseUrl }}
api:
  replicaCount: 1
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: api.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: api-tls
        hosts:
          - api.{{ .LagoonBaseUrl }} */}}

keycloak:
  {{- if eq .Arch "arm64" }}
  image:
    repository: ghcr.io/yusufhm/rockpool/lagoon-keycloak-arm
  {{- end }}
  resources:
    requests:
      memory: "256Mi"
      cpu: "1000m"
    limits:
      memory: "512Mi"
      cpu: "1500m"
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: keycloak.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: keycloak-tls
        hosts:
          - keycloak.{{ .LagoonBaseUrl }} */}}

webhookHandler:
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: webhookhandler.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: webhookhandler-tls
        hosts:
          - webhookhandler.{{ .LagoonBaseUrl }} */}}

ui:
  replicaCount: 1
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: ui.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: ui-tls
        hosts:
          - ui.{{ .LagoonBaseUrl }} */}}

backupHandler:
  enabled: false
  replicaCount: 1
  {{/* ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: "true"
    hosts:
    - host: backuphandler.{{ .LagoonBaseUrl }}
      paths:
      - /
    tls:
      - secretName: backuphandler-tls
        hosts:
          - backuphandler.{{ .LagoonBaseUrl }} */}}

drushAlias:
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: drushalias.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: drushalias-tls
        hosts:
          - drushalias.{{ .LagoonBaseUrl }} */}}

ssh:
  replicaCount: 1
  service:
    type: LoadBalancer
    port: 22

broker:
  replicaCount: 1
  {{- if eq .Arch "arm64" }}
  image:
    repository: ghcr.io/yusufhm/rockpool/lagoon-broker
  {{- end }}
  resources:
    requests:
      memory: "256Mi"
      cpu: "1000m"
    limits:
      memory: "512Mi"
      cpu: "1500m"
  service:
    amqpExternal:
      enabled: true
  serviceMonitor:
    enabled: false
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: broker.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: broker-tls
        hosts:
          - broker.{{ .LagoonBaseUrl }} */}}

authServer:
  replicaCount: 1

webhooks2tasks:
  replicaCount: 1

actionsHandler:
  replicaCount: 1

webhookHandler:
  replicaCount: 1
  ingress:
    enabled: true
    {{/* annotations:
      kubernetes.io/tls-acme: "true" */}}
    hosts:
    - host: webhookhandler.{{ .LagoonBaseUrl }}
      paths:
      - /
    {{/* tls:
      - secretName: webhookhandler-tls
        hosts:
          - webhookhandler.{{ .LagoonBaseUrl }} */}}

logs2webhook:
  replicaCount: 1

drushAlias:
  replicaCount: 1

controllerhandler:
  replicaCount: 1

workflows:
  replicaCount: 1

logs2slack:
  enabled: false
logs2microsoftteams:
  enabled: false
logs2rocketchat:
  enabled: false
logs2email:
  enabled: false
logs2s3:
  enabled: false
